html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Lato';
  margin-bottom: 60px;
  padding-top: 40px;
}
img {
  max-width: 100%;
  height: auto;
}

.navbar {
   background-color: black;
}

.navbar .navbar-nav > li > a {
  color: white;
}

.dropdown:hover {
  background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}

.dropdown-menu > li > a:hover  {
    background-color: black;
    color:white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
}

.container {
    width: 100%;
}
.left {
  float:left;
  width:20%;
}
.right {
  float:right;
  width:20%;

    /*position: absolute;
    top: 50%;
    left:80%;*/
}
.center {
  margin:0 auto;
  width: 50%;
}

.side {
  border: 3px solid #73AD21; 
  padding: 10px;
  background-color:lightgray;
}

.thumb {
  text-align: center;
}

.thumb a {
  color: black; 
  font-weight: bold;
}

.anchor {
  padding-top: 55px;
  margin-top: -55px;
  display: inline-block;
  vertical-align: top;
}
.additional td {
  padding-right: 10px;
  padding-top: 10px;
}
.additional img {
  max-height: 100px;
  width: auto;
  border: 3px solid #1468af;
}
@-moz-document url-prefix() {
 .additional img {
  max-width: 120px;
 }
}

.marker {
  background-color: Yellow;
}
.articleBody img, .side img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline: 1px solid #0782C1;
}
.articleBody div, .panel-body[name=panelbody] {
  max-height: 300px;
  overflow: hidden;
}
.articleBody, .articleTitle, .panel-body[name=panelbody] {
  word-break: break-all;
  word-break: break-word;
}
.panel-body[name=panelbody] {
  white-space: pre-line;
}
.sectionHeading {
  text-align: center;
}

.black {
  color: black;
}
.gold {
  color: gold;
}
.purple {
  color: purple;
}

.thumbnail {
    padding:0px;
}
.panel {
  position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:not(.auth):before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
}
.panel>.panel-heading:not(.auth):after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:not(.auth):before{
  border-right-color:#ddd;
  border-width:8px;
}
.col-sm-2 {
  float: left;
  width: 16.66666667%;
}
.col-sm-10 {
  float: left;
  width: 83.33333333%;
}
.row {
  overflow: hidden;
}
.row:after {
  clear: none;
}
.hiddendiv {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    min-height: 95px;
    font-family: 'Lato';
    font-size: 14px;
    padding-top: 6px;
    padding-left:12px;
    padding-right:12px;
    padding-bottom: 6px;
    border:1px solid black;
}
.lbr {
    line-height: 3px;
}

.searchComment {
  max-width: 90%;
  text-align: left;
}

.textareaComment {
  min-height: 95px;
  font-size: 14px;
  overflow: hidden;
  resize: none;
}