html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Lato';
  margin-bottom: 60px;
}
img {
  max-width: 100%;
  height: auto;
}

.navbar {
   background-color: black;

}

.navbar .navbar-nav > li > a {
  color: white;
}

.dropdown:hover {
  background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}

.dropdown-menu > li > a:hover  {
    background-color: black;
    color:white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: 100%;
}

.left {
  float:left;
  width:20%;
  border: 3px solid #73AD21;
  padding: 10px;
  background-color: lightgray;
}
.right {
  float:right;
  width:20%;

    /*position: absolute;
    top: 50%;
    left:80%;*/
}
.center {
  margin:0 auto;
  width: 50%;
}

#popular {
  border: 3px solid #73AD21; 
  padding: 10px;
  padding-left: 17px; 
  background-color:lightgray;
}

